body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  background-color: #1F2937;
  color: white;
  font-size: 30px;
  padding: 2% 15% 2% 15%;
  font-weight: bold;
}

.footer {
  background-color: #1F2937;
  text-align: center;
  color: white;
  padding: 2% 15% 2% 15%;
  font-size: 18px;
}

.links {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: None;
  padding: 0px;
  display: flex;
  gap: 10px;
  margin: 0px;
  font-size: 18px;
}

.links a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 0% 15% 5% 15%;
  display: flex;
  justify-content: space-around;
  width: 70%;
  gap: 80px;
  flex-wrap: wrap;
}

.hero h1 {
  font-size: 48px;
}

.slogan {
  flex: 1;
  margin-top: 40px;
}

.slogan p {
  margin-top: 30px;
  font-size: 18px;
}

button {
  background-color: #3882F6;
  padding: 10px;
  border-radius: 5px;
  color:#F9FAF8;
  border-width: 3px;
  border: 0px solid white;
  box-shadow: none;
  margin-top: 20px;
  font-size: 18px;
}

img {
  width: 200px;
  flex: 0.8;
  object-fit: cover
}

.content {
  padding: 5% 15% 5% 15%;
}

.content h2 {
  text-align: center;
  font-size: 36px;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap; 
}

.card {
  flex: 0;
  font-size: 18px;
  font-weight: 300;
  width: 200px;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover
}

.attribution {
  font-size: 12px;
}

.bigquote {
  background-color: #E5E7EB;
  padding: 5% 15% 5% 15%;
}

#quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

#person {
  font-size: 16px;
  text-align: right;
}

.action {
  background-color: #3882F6;
  margin: 5% 15% 5% 15%;
  padding: 20px;
  color: #F9FAF8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  flex-wrap: wrap;
}

.marketing {
  margin: 50px;
}

.action button {
  margin-left: auto;
  margin: 10px;
  padding: 0px 50px;
  height: 50px;
  border: 2px solid white;
}